<div class="col-sm-12 relative">
  <%= render "layouts/sidebar" %>
  <div class="main-content">
    <%= render "layouts/jumbotron" %>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <%= link_to "Back", songs_path %>
        <div class="song-image">
          <%= image_tag(@song.avatar.url) %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="song-info">
          <table>
            <tr>
              <th>NAME</th>
              <td>
                <%= @song.name %><%= render "public/favorites/favorite", song: @song %>
              </td>
            </tr>
            <tr>
              <th>DESCRIPTION</th>
              <td><%= @song.description %></td>
            </tr>
            <tr>
              <th>URL</th>
              <td>
                <% @song.addresses.each do |address| %>
                  <%= address.name %>&emsp;<%= address.url %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>TAGS</th>
              <td>
                <% @song.tag_list.each do |tag| %>
                  <%= tag %>                  
                <% end %>
              </td>
            </tr>
          </table>
          <% if current_user == @song.user %>
            <%= link_to "EDIT", edit_song_path(@song) %>
          <% end %>
        </div>
        <div class="song-comments">
          <h3>COMMENTS(<%= @song.comments.count %>)</h3>
          <%= form_with model: @comment, url: song_comments_path(@song), local: true do |f| %>
            <div class="form-group form-inline">
              <span>IMAGEIMAGE</span>
              <%= f.label :content, "コメント", class: "control-label" %>
              <%= f.text_area :content, rows: 2, class: "form-control" %>
              <%= f.hidden_field :song_id, value: @song.id %>
              <%= f.submit "POST", class: "btn btn-default" %>
            </div>
          <% end %>
          <ul class="song-comment-list">
            <% @song.comments.each do |comment| %>
              <%= render "public/comments/comment", comment: comment %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>