<div class="col-sm-12 relative">
  <%= render "layouts/sidebar" %>
  <div class="main-content">
    <%= render "layouts/jumbotron" %>
    
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <section class="home-content-text text-center">
          <h3>一音一会、音楽は人生に彩を与える</h4>
          <p>
            嬉しいとき、楽しいとき、悲しいとき、辛いとき、<br>
            様々な感情に出会ったときに、自分で言葉が出てこない時に、<br>
            きっと音楽は貴方の声となり、心となり、意志となります。<br>
            そんな音楽との出会いは、まさに一期一会です。<br>
            貴方との出会いを、心を、他の人とシェアしませんか。
          </p>
        </section>
        <div class="home-tags">
          <ul style="list-style-type: none;">
            <% tags = ActsAsTaggableOn::Tag.most_used(5) %>
            <% tags.each do |tag| %>
              <li><%= link_to tag.name, tagged_songs_path(tag.name) %></li>
            <% end %>
          </ul>
        </div>
        <div class="home-search">
          <%= form_tag(search_songs_path) do %>
            <%= label_tag :keyword %>
            <%= text_field_tag :keyword %>
            <%= submit_tag "Search" %>
          <% end %>
        </div>
        <div class="home-songs">
          <p>SONG SONG SONG</p>
        </div>
    </div>
  </div>
</div>