<div class="col-sm-12 relative">
  <%= render "layouts/sidebar" %>
  <div class="main-content">
    <%= render "layouts/jumbotron" %>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <h2>ユーザー情報</h2>
        <div class="image-box text-center mb-15">
          <% if @user.avatar.url != nil %>
            <%= image_tag(@user.avatar.url, size: "100x100") %>
          <% end %>
        </div>
        <table class="table text">
          <tr><th><%= @user.name %></th></tr>
          <tr><th>
            <%= link_to user_followers_path(@user) do %>
              <%= counter("follower", @user.followers.count) %>
            <% end %>
            <%= link_to user_followings_path(@user) do %>
              <%= counter("following", @user.followings.count) %>
            <% end %>
          </th></tr>
          <tr>
            <% if @user != current_user %>
              <% if current_user.following?(@user) %>
                <th><%= link_to "Unfollow", user_unfollow_path(@user), method: :delete, data: { confirm: "Are you sure?" } %></th>
              <% else %>
                <th><%= link_to "Follow", user_follow_path(@user), method: :post %></th>
              <% end %>
            <% else %>
              <th><%= link_to "EDIT", edit_user_path(@user) %></th>
            <% end %>
          </tr>
          <tr>
            <th>
              <% if @user != current_user %>
                <% if @room %>
                  <%= link_to "Chats", user_room_path(@user, @room), class: "btn btn-primary btn-block" %>
                <% else %>
                  <%= link_to "Chats", user_rooms_path(@user), method: :post, class: "btn btn-success btn-block" %>
                <% end %>
              <% end %>
            </th>
          </tr>
        </table>
      </div>
      <div class="col-sm-6">
        <h3 class="clearfix mb-15">Songs <% if current_user == @user %> <%= link_to "New song", new_song_path, class: "pull-right" %> <% end %></h3>
        <table class="table table-hover">
          <thead class="row">
            <th class="col-sm-6">NAME</th>
            <th class="col-sm-2">FAVORITES</th>
            <th class="col-sm-2">COMMENTS</th>
            <th class="col-sm-2"></th>
          </thead>
          <tbody>
            <% @songs.each do |song| %>
              <tr>
                <td><%= song.name %></td>
                <td><%= render "public/favorites/favorite", song: song %></td>
                <td><%= song.comments.count %>コメント</td>
                <td><%= link_to "See More", song_path(song) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>