<div class="col-sm-12 relative">
  <%= render "layouts/sidebar" %>
  <div class="main-content">
    <%= render "layouts/jumbotron" %>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <h2>ユーザー情報</h2>
        <span>IMGIMG</span>
        
        <table class="table">
          <tr><th><%= @user.name %></th></tr>
          <tr><th>
            <%= link_to user_followers_path(@user) do %>
              <%= counter("follower", @user.followers.count) %>
            <% end %>
          </th></tr>
          <tr><th>
            <%= link_to user_followings_path(@user) do %>
              <%= counter("following", @user.followings.count) %>
            <% end %>
          </th></tr>
          <tr>
            <% if @user != current_user %>
              <% if current_user.following?(@user) %>
                <th><%= link_to "Unfollow", user_unfollow_path(@user), method: :delete, data: { confirm: "Are you sure?" } %></th>
              <% else %>
                <th><%= link_to "Follow", user_follow_path(@user), method: :post %></th>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <th>
              <% if @user != current_user %>
                <% if @room %>
                  <%= link_to "Chats", user_room_path(@user, @room), class: "btn btn-primary btn-block" %>
                <% else %>
                  <%= link_to "Chats", user_rooms_path(@user), method: :post, class: "btn btn-success btn-block" %>
                <% end %>
              <% end %>
            </th>
          </tr>
        </table>
      </div>
      <div class="col-sm-6">
        <h3>Songs</h3>
      </div>
    </div>
  </div>
</div>