<div class="col-sm-12 relative">
  <%= render "layouts/sidebar" %>
  <div class="main-content">
    <%= render "layouts/jumbotron" %>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <h2>ユーザー情報</h2>
        <span>IMGIMG</span>
        <table class="table">
          <tr><th>
            <%= link_to followers_user_path do %>
              <%= counter("follower", @user.followers.count) %>
            <% end %>
          </th></tr>
          <tr><th>
            <%= link_to followings_user_path do %>
              <%= counter("following", @user.followings.count) %>
            <% end %>
          </th></tr>
          <tr>
            <% if @user != current_user %>
              <% if current_user.following?(@user) %>
                <th><%= link_to "Unfollow", unfollow_user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %></th>
              <% else %>
                <th><%= link_to "Follow", follow_user_path(@user), method: :post %></th>
              <% end %>
            <% end %>
          </tr>
        </table>
      </div>
      <div class="col-sm-6">
        <h3>Songs</h3>
      </div>
    </div>
  </div>
</div>