<nav class="absolute sidebar text-center">
  <h2>MENU</h2>
  <ul class="nav-list">
    <% if user_signed_in? %>
      <li class="nav-list-item"><%= link_to "LOGOUT", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% else %>
      <li class="nav-list-item"><%= link_to "HOME", root_path %></li>
      <li class="nav-list-item"><%= link_to "ABOUT", about_path %></li>
      <li class="nav-list-item"><%= link_to "LOGIN", new_user_session_path %></li>
      <li class="nav-list-item"><%= link_to "REGISTER", new_user_registration_path %></li>
    <% end %>    
  </ul>
</nav>